<form>
  <h1>"Create a Team and Heroes!"</h1>

  <h3>Team Name:</h3>
  <h3>Team Motto:</h3>

  <h2>Hero 1</h2>

  <h3>Hero's Name:</h3>
  <h3>Hero's Power:</h3>
  <h3>Hero's Biography</h3>

  <h2>Hero 2</h2>

  <h3>Hero's Name:</h3>
  <h3>Hero's Power:</h3>
  <h3>Hero's Biography</h3>

  <h2>Hero 2</h2>

  <h3>Hero's Name:</h3>
  <h3>Hero's Power:</h3>
  <h3>Hero's Biography</h3>

</form>
